*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #021f36;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23011627' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
/* bar-scroll-nav  */
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:11px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--pinkred);
    border-radius: 19px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}




/* particles polygon  */
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

/* -------header  */
.container-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

}

.container-header ul{
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.container-header a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
}
.container-header a:hover{
    text-decoration: underline;
} 
.hr-header{
    height: .1875rem;
    border: 1px double var(--pinkred);
 }
/* --------header ------position  */


.square{
    padding: 12px;
    /* margin-top: 2rems; */
    width: 90%;
    margin: .75rem auto;
    border: 2px solid var(--pinkred);
}
/* title h1 inside square  */
.h1-square{
    color: var(--white);
    font-family: 'Bebas Neue', cursive;
     width: 27%;
     padding: 11px;
    background-color: var(--pinkred);
    border-bottom-right-radius:50px ;
}
/* text inside square  */
.text{
    text-align: left;
    color: var(--white);
    padding: 12px;
}


/* mobile */
 .img{
    border-radius:12px ;
    float: left;
    width: 50%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://img1.s3wfg.com/web/img/images_uploaded/c/5/zzzzportppa1.gif');
} 


.container-img{
    padding: .4em;
    display: flex;
    flex-direction: row;
}
/* titles aside img  */
.title4{
    color: var(--white);
    padding: 11px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
   
}

/* ---------style buton  */
.boton{
    display: flex;
    align-items: center;
    align-content: center;
    border: 2px solid var(--blueaqua);
    padding: 12px;
    border-radius: 12px;
    align-self: center;
}

.boton a{
    color:var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;

}
.boton a:hover{
    color: var(--Yellow);
}
/* end style button  */

/* flex between text and button GALLERY */
.flex-text-and-button{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* -------------fooooter  */
footer{
    position: relative;
    background-color: var(--pinkred);
    width: 100%;
    height: 8em;
    bottom: 0;
}


:root{
    --white:#fdfffc ;
    --bluedark:#011627;
    --blueaqua:#2ec4b6;
    --pinkred:#e71d36;
    --Yellow:#ff9f1c;
}

@media screen and (max-width:600px) {
    .img{
        width: 100%;
    }
    .boton{
    display: flex;
    align-items: center;
    align-content: center;
    border: 2px solid var(--blueaqua);
    padding: 12px;
    border-radius: 12px;
    align-self: flex-end;
}
    .container-img{
    float: right;
    display: flex;
    flex-direction: column;
    }

    .flex-text-and-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
}